body,html{
    height: 100%;
    margin: 0;
}
.content{
    margin-top: 80px;
}
#menu{
    background-color: white;
    box-shadow: none;
}
nav >div> a{
    color: rgb(161, 159, 159);
}
nav > div> a:hover{
    color: rgb(73, 73, 73);
}
#mobile-section{
    clear: both;
    background-color: #B1DAF0;
    width: 100%;
}
#desktop-section{
    clear: both;
    background-color: #E0E4ED;
    width: 100%;
}

#web-section{
    clear: both;
    background-color: white;
    width: 100%;
}

img{
    max-width: 100%;
    max-height: 90vh;
    height: auto;
}
.right-img{
    clear: both;
    position: relative;
    float: right;
    right: 0;
   
}
.left-img{
    clear: both;
    position: relative;
    left: 0;
}

.flat-btn{
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.left-float{
    position: relative;
    margin-top: 40vh;
    margin-right: 40vh;
    float: right;
}
.right-float{
    position: relative;
    float: right;
    margin-top: 40vh;
    margin-right: 30vh;
}