body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    display: inline-block;
    position: relative;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 100;
    vertical-align: middle;
}

ul {
    margin: 0px;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

.img-responsive {
    max-width: 100%;
}

.logo {
    display: inline-block;
}

.nav {
    list-style-type: none;
}

.nav>ul>li {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    margin: 0px;
}

.nav>ul>li.current,
.nav>ul>li:hover,
.theme-btn {
    color: white;
    background-color: #FF3352;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}

.me {
    display: inline-block;
    font-family: 'Pacifico', cursive;
    color: #FF3352;
    margin-left: 10px;
    vertical-align: middle;
}

.c-grey {
    color: #F8F8F8;
}

.link-btn {
    display: inline-block;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 600;
}

.link-btn:hover {
    cursor: pointer;
}

.portfolio-body {
    position: relative;
}

.theme-btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
}

.card {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

.section {
    min-height: 100vh;
}

.pitch {
    font-size: 2.5em;
    font-weight: bolder;
    font-family: "eurostile", sans-serif;
}

.sub-pitch {
    font-weight: 100;
    color: #6c757d!important;
}

.strip {
    background-color: #FF3352;
    height: 500px;
    width: 100%;
    margin: 0px 0px;
}

.bubbles-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: translateZ(0);
}

.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -100px;
    animation: square 20s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
}

.bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 7s;
}

.bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 5s;
}

.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    animation-delay: 7s;
    animation-duration: 12s;
}

.bubbles li:nth-child(6) {
    width: 80px;
    height: 80px;
    left: 10%;
    animation-delay: 6s;
    animation-duration: 7s;
}

.bubbles li:nth-child(7) {
    width: 45px;
    height: 45x;
    left: 50%;
    animation-delay: 10s;
    animation-duration: 8s;
}

.bubbles li:nth-child(8) {
    width: 35px;
    height: 35x;
    left: 20%;
    animation-delay: 3s;
    animation-duration: 8s;
}

.bubbles li:nth-child(9) {
    width: 60px;
    height: 60px;
    left: 70%;
    animation-delay: 12s;
    animation-duration: 10s;
}

.bubbles li:nth-child(10) {
    width: 30px;
    height: 30x;
    left: 20%;
    animation-delay: 20s;
    animation-duration: 15s;
}

@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1080px) rotate(630deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1080px) rotate(630deg);
    }
}


/* Type writer*/

.typewrite {
    color: black;
}

.olap-image {
    position: absolute;
    max-width: 50%;
    z-index: 1;
    top: 0px;
    left: -50px;
    bottom: 0px;
    transform: translate(-20%, -40%);
}

.bg-triangle {
    background-image: url(../images/triangle.png);
    background-repeat: no-repeat;
}

.portfolio {
    clear: both;
    margin: 64px 64px;
    color: #c5c3c3;
    margin-bottom: 100px;
    position: relative;
    left: 2%;
}

.portfolio::after {
    display: table;
    content: "";
    clear: both;
}

.heading {
    clear: both;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #c5c3c3;
}

.portfolio>div {
    display: block;
    float: left;
    width: 30%;
    margin: 10px;
    background-color: white;
}

.portfolio-block {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.app-category {
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-left: -10px;
    margin-top: 20px;
    top: 10px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.content {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content ul li:nth-child(2n) {
    background-color: #ffffff;
}

.content ul li:nth-child(2n+1) {
    background-color: #f8f8f8;
}

.content ul li {
    padding: 10px 20px;
}

.explore {
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px 30px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

#desktop-explore {
    background-color: #006DF0;
}

#mobile-explore {
    background-color: #92DD5A;
}

#web-explore {
    background-color: #FFDB42;
}

#desktop {
    color: #006DF0;
}

#mobile {
    color: #92DD5A;
}

#web {
    color: #FFDB42;
}

.line {
    position: relative;
    top: 0%;
    height: 5px;
    background-color: currentColor;
}

.apps {
    color: rgb(131, 130, 130);
    font-size: 16px;
}

.category-icon {
    height: 64px;
    width: 64px;
    padding: 15px;
    vertical-align: middle;
}

.portfolio-block:hover {
    outline: 3px solid currentColor;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;
}

.logo-container {
    max-height: 100%;
    height: 80px;
}

.stack-img {
    max-height: 100%;
    height: 100px;
    margin: 5px;
}

.company-name {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 700;
}

#social-media {
    position: relative;
    min-height: 64px;
    z-index: 100000;
    margin-bottom: 20px;
}

.my-fa {
    position: relative;
    padding: 15px 15px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all ease 0.3s;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}


/* Add a hover effect if you want */

.my-fa:hover {
    color: white;
    opacity: 0.9;
}


/* Set a specific color for each brand */

.fa-google::after,
.fa-github::after,
.fa-linkedin::after,
.fa-twitter::after {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


/* Google */

.fa-google {
    background: #DD4B39;
    color: white;
}

.fa-google::after {
    position: absolute;
    top: 20px;
    content: "Talk to me";
    font-size: 0.7em;
    opacity: 0;
}

.fa-google:hover {
    padding-right: 120px;
}

.fa-google:hover::after {
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter::after {
    position: absolute;
    top: 20px;
    font-size: 0.7em;
    content: "Follow Me";
    opacity: 0;
}

.fa-twitter:hover {
    padding-right: 120px;
}

.fa-twitter:hover::after {
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}

.fa-github {
    background: #999999;
    color: white;
}

.fa-github::after {
    position: absolute;
    top: 20px;
    font-size: 0.7em;
    content: "Star Me";
    opacity: 0;
}

.fa-github:hover {
    padding-right: 100px;
}

.fa-github:hover::after {
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}

.fa-linkedin {
    background: #0082CA;
    color: white;
}

.fa-linkedin::after {
    position: absolute;
    top: 20px;
    font-size: 0.7em;
    content: "Check Out";
    opacity: 0;
}

.fa-linkedin:hover {
    padding-right: 120px;
}

.fa-linkedin:hover::after {
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}

#social {
    text-align: center;
    margin: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.right-offset-container {
    position: relative;
    left: 20px;
}

footer {
    position: relative;
    height: 430px;
    background-color: #3F3D56;
}

.footer-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    overflow: visible;
    transform: translateX(-50%);
}

.fa.fa-bars {
    display: none;
}

@media screen and (max-width:768px) {
    .pitch {
        font-size: 1.5em;
    }
    .heading {
        font-size: 1.5rem;
    }
    .fa.fa-bars {
        display: inline-block;
        position: relative;
        font-size: 30px;
        margin-top: 20px;
        right: 0px;
        transform: translate(0, -50%);
    }
    .nav {
        position: absolute;
        top: 100px;
        background-color: #F9F9F9;
        width: 100%;
        height: 0px;
        z-index: 100;
        transition: all 0.5s ease-out;
        text-align: center;
    }
    .nav {
        display: block;
        position: fixed;
        left: 0;
        width: 100vw;
    }
    .nav>ul {
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
    }
    .nav>ul>li {
        display: none;
    }
    .portfolio {
        width: 100%;
        margin: 0px;
    }
    .portfolio>div {
        float: none;
        width: 90%;
        margin-top: 20px;
    }
    .mt-2-m {
        margin-top: 2em;
    }
    .right-offset-container {
        position: relative;
        left: 0px;
    }
    .olap-image {
        max-width: 100%;
    }
    .footer-content {
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        z-index: 10;
    }
}