body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
#menu{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0,1);
    width: 100%;
    height: 80px;
    margin-top: 0;
    z-index: 99;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
nav{
    margin: 0;
    position: relative;
    display: inline;
    right: 0;
    float: right;
    top:50%;
    margin-top: -10px;
    margin-right: 10px;
}
nav > div{
    display: inline;
}
nav > div > a{
    margin: 0 10px 10px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav > div > a:hover{
    color: #3A96D8;
}

.projects-options{
    position: absolute;
    display: none;
    top: 100%;
    left: -25px;
    min-width: 200px;
    background-color: #ffffff;
    color: #323b40;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.projects-nav:hover .projects-options{display: block;}
.projects-options > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    border-width: 0;
    border-top: 1px solid #e0e0e0;
}
.projects-options > a:hover{
    background-color:#f0f0f0;
    color: #323b40;
}
#container{
    display: block;
    min-height: 100%;
    margin-top: 50px;
    margin-bottom: -120px; 
}

#container::after{
    content: "";
    display: block;
}

.portfolio{
    margin: 64px 64px;
    color: #555555;
}

.portfolio::after{
    display: table;
    content: "";
    clear: both;
}

.portfolio > div{    
    display: block;
    float: left;
    width: 30%;
    margin: 10px;
    background-color: white;
    color: #555555;
}

.portfolio-block{
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.line{
    position: relative;
    top: 0%;
    height: 10px;
    background-image: linear-gradient(to top right, black, white);
}

.app-category{
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-left: -10px;
    margin-top:20px;
    top: 10px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}


.content{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content ul li:nth-child(2n) {
     background-color: #ffffff;
}

.content ul li:nth-child(2n+1) {
     background-color: #f8f8f8;
}

.content ul li{
    padding: 10px 20px;
}

.explore{
    display: block;
    padding: 20px 30px;
    color: white;
    margin-top: 30px; 
    text-transform: uppercase;
    font-weight: 600;
}

#desktop-explore{
    background-color: #006DF0;
}
#mobile-explore{
    background-color: #92DD5A;
}
#web-explore{
    background-color: #FFDB42;
}

#desktop{
    color: #006DF0;
}

#mobile{
    color: #92DD5A;
}

#web{
    color:#FFDB42;
}

.category-icon{
    height: 64px;
    width: 64px;
    padding: 15px;
    vertical-align: middle;
}

#social-media{
    margin: 50px;
    min-height: 64px;
}

.fa {
    padding: 15px 15px;
    font-size: 1.8rem;
    width: 20px;
    text-align: center;
    text-decoration: none;
    transition: all ease 0.3s;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.9;
}

/* Set a specific color for each brand */

/* Google */
.fa-google {
    background: #DD4B39;
    color: white;
    position: relative;
}

.fa-google::after{
    position: absolute;
    top: 35%;
    right: 0.6rem;
    content: "Follow Me";
    opacity: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.fa-google:hover{
    padding: 20px 110px 20px 20px;
}

.fa-google:hover::after{
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    position: relative;
}
.fa-twitter::after{
    position: absolute;
    top: 35%;
    right: 0.6rem;
    content: "Follow Me";
    opacity: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.fa-twitter:hover{
    padding: 20px 110px 20px 20px;
}

.fa-twitter:hover::after{
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}

.fa-github {
    background: #999999;
    color: white;
    position: relative;
}
.fa-github::after{
    position: absolute;
    top: 35%;
    right: 0.6rem;
    content: "Star Me";
    opacity: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.fa-github:hover{
    padding: 20px 90px 20px 20px;
}

.fa-github:hover::after{
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}

.fa-linkedin {
    background: #0082CA;
    color: white;
    position: relative;
}
.fa-linkedin::after{
    position: absolute;
    top: 35%;
    right: 0.6rem;
    content: "Check Out";
    opacity: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.fa-linkedin:hover{
    padding: 20px 110px 20px 20px;
}

.fa-linkedin:hover::after{
    right: 1.2rem;
    opacity: 1;
    transition: all ease 0.4s;
}


footer, #container::after{
    height: 120px;
    background-color: black;
    text-align: center;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}